<!-- Home Content -->
        <div id="content">
            <div id="blog-wrapper">
                <div class="blog-holder center-relative">


                    <article id="post-1" class="blog-item-holder featured-post">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative"> 
                                <h2 class="entry-title">
                                    ABOUT ISKCON  
                                </h2>
                                <div class="excerpt">
                                    The International Society for Krishna Consciousness (ISKCON), otherwise known as the Hare Krishna movement, includes seven hundred major centers, temples and rural communities, nearly one hundred affiliated vegetarian restaurants in the name of Govindas, thousands of Namahattas and preaching groups, a wide variety of community projects, and millions of congregational members worldwide. Although less than Sixty years on the global stage, ISKCON has expanded widely since its founding by His Divine Grace A. C. Bhaktivedanta Swami Prabhupada in New York city in 1966<!-- <a class="read-more" href="single.html"></a> -->
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </article>


                    <article id="post-2" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    Our Missions 
                                </h2>
                                <br>
                                <div class="excerpt">
                                  The mission of this nonsectarian, monotheistic movement is to promote the well-being of society by teaching the science of Krishna consciousness according to Bhagavad-Gita and other ancient scriptures
                              </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </article>


                    <article id="post-3" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    WHY IN BRAJ DHAM / SRIDHAM VRINDAVAN 
                                </h2>
                                <br>
                                <div class="excerpt">
                                    We being an integral part of Braj, feel ourselves responsible to protect the Braj area, and in turn prove to be an epitome of environmental saviours in the eyes of mankind. The need of the hour for all of us is to become part of the solution by safeguarding this national heritage by supporting people who are making a difference. It is very simple, we are not going to feel happy and neither will you, if we don't start acting with consciousness, so we kindly request all of you to help us with this call of "ISKCON Network for Corporate Social Responsibility" ISKCON is working on addressing and resolving various problems currently facing Braj Dham. We are dedicated to protect, transmit and disseminate the ancient culture and traditional heritage of Braj Bhumi. It is essential that all these efforts stay connected so that we can take immediate actions for Braj-Vrindavan.
                                 </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </article>



                  <!--   <article id="post-4" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    It’s all about experience</a>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            <a href="#">Life</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published">February 12, 2016</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </article>



                    <article id="post-5" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    This is not my code</a>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            <a href="#">Coding</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published">February 12, 2016</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </article>



                    <article id="post-6" class="blog-item-holder">
                        <div class="entry-content relative">
                            <div class="content-1170 center-relative">
                                <h2 class="entry-title">
                                    Support human activity</a>
                                </h2>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            <a href="#">Advocacy</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published">February 12, 2016</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </article> -->

                </div>
                <div class="clear"></div> 
            </div>

            <div class="featured-image-holder">
                <div class="featured-post-image" style="background-image: url(<?=base_url('assets/img/about-us.jpg')?>)"></div>

            </div>
            <div class="clear"></div>
        </div>